@import 'variaveis';

.container {
  width: 100%;
  height: 100%;
  max-width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .image {
    height: 60%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    // opacity: .7;
  }

  .controles {
    padding: 10px;
    background-color: $preto-transparent-70;
    flex-grow: 1;
    color: $branco;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .titulo {
      font-size: .9rem;
      font-weight: 700;
    }

    .artistas {
        font-size: .7rem;
        font-weight: 500;
    }

    .botoes {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.8rem;
      * {
        cursor: pointer;
      }
    }
  }
}