$cor-primaria: #37AB00;
$cor-fundo: #FBFEF4;
$cor-fundo2: #FFF;

$preto-transparent-70: #000000B3;
$preto-transparent-30: #0000004D;
$preto-transparent-20: #00000033;
$preto-transparent-03: #00000008;

$branco: $cor-fundo2;

$cor-fundo-dark: #121212;
$cor-fundo2-dark: #333;

$preto-transparent-70-dark: rgba(255, 255, 255, 0.7);
$preto-transparent-30-dark: rgba(255, 255, 255, 0.3);
$preto-transparent-20-dark: rgba(255, 255, 255, 0.2);
$preto-transparent-03-dark: rgba(255, 255, 255, 0.03);

$branco-dark: $cor-fundo2-dark;