<div class="dashboard">
    <!-- <iframe class="telling" title="AC2A - Luiz Obara" src="https://app.powerbi.com/reportEmbed?reportId=918834d5-4171-40e0-ae26-ef7befe3bd17&autoAuth=true&ctid=59d4f249-0520-46cf-b6b2-873d5da543fe" frameborder="0" allowFullScreen="true"></iframe> -->
    <iframe class="telling" title="AC2A - Luiz Obara" src="https://app.powerbi.com/view?r=eyJrIjoiMTE3ZTA2YTQtYjAxNC00ZmQ0LTkwYmQtOGU4ZDY5MmU3NmEzIiwidCI6ImZlZjRkMTUwLTdjODYtNDljOS1iZmY0LTMyMmVkZTBmZTAwMyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<app-painel-direito class="painel-direito"> </app-painel-direito>